<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <!-- CATEGORIA -->

  <servlet>
    <servlet-name>CategoriaAdminServlet</servlet-name>
    <servlet-class>com.apostassa.infra.categoria.CategoriaAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaAdminServlet</servlet-name>
    <url-pattern>/categoria/*</url-pattern>
  </servlet-mapping>

  <!-- SUB - CATEGORIA -->

  <servlet>
    <servlet-name>SubCategoriaAdminServlet</servlet-name>
    <servlet-class>com.apostassa.infra.categoria.subcategoria.SubCategoriaAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubCategoriaAdminServlet</servlet-name>
    <url-pattern>/sub-categoria/*</url-pattern>
  </servlet-mapping>

  <!-- MAIN JOGO, ROLE-JOGO -->

  <servlet>
    <servlet-name>MainJogoAdminServlet</servlet-name>
    <servlet-class>com.apostassa.infra.jogo.MainJogoAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainJogoAdminServlet</servlet-name>
    <url-pattern>/jogo/*</url-pattern>
  </servlet-mapping>

  <!-- JOGO -->

  <servlet>
    <servlet-name>JogoAdminServlet</servlet-name>
    <servlet-class>com.apostassa.infra.jogo.JogoAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JogoAdminServlet</servlet-name>
    <url-pattern>/end-jogo</url-pattern>
  </servlet-mapping>

  <!-- ROLE JOGO -->

  <servlet>
    <servlet-name>RoleJogoAdminServlet</servlet-name>
    <servlet-class>com.apostassa.infra.jogo.role.RoleJogoAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleJogoAdminServlet</servlet-name>
    <url-pattern>/role-jogo</url-pattern>
  </servlet-mapping>

  <!-- JOGO JUNCAO ROLE -->

  <servlet>
    <servlet-name>JogoJuncaoRoleAdminServlet</servlet-name>
    <servlet-class>com.apostassa.infra.jogo.jogojuncaorole.JogoJuncaoRoleAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JogoJuncaoRoleAdminServlet</servlet-name>
    <url-pattern>/jogo-juncao-role</url-pattern>
  </servlet-mapping>

  <!-- MAPA JOGO -->

  <servlet>
    <servlet-name>MapaJogoAdminServlet</servlet-name>
    <servlet-class>com.apostassa.infra.jogo.mapa.MapaJogoAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapaJogoAdminServlet</servlet-name>
    <url-pattern>/mapa-jogo</url-pattern>
  </servlet-mapping>
</web-app>
